/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&display=swap');

/* RESET */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* GLOBAL */

body {
    font-family: 'M PLUS Code Latin', sans-serif;
}

/* TOP MENU */

/* HERO */

/* CLUB DESCRIPTION */

/* GALLERY */

/* FOOTER */